@font-face {
  font-family: "Myanmar Text Regular";
  src: url("./assests/font/mmrtext.ttf");
}

@font-face {
  font-family: "Myanmar Text Bold";
  src: url("./assests/font/mmrtextb.ttf");
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  height: 100vh;
  overflow: hidden;
  font-family: "Myanmar Text Bold";
  font-weight: bold;
  box-sizing: border-box;
}

body {
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#root {
  max-width: 500px;
  margin: 0 auto;
}

.data {
  height: 100%;
}

/* CLASES DE LAS TEMPS MAX MIN */

.temp {
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* margin: 0 3rem; */
  transform: translate(-50%, -50%);
  position: absolute;
  left: 50%;
  top: 47%;
}

.temp__data {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0rem 4vw;
}

.temp__data p {
  margin: 0;
  margin-left: 0.5rem;
  padding-top: 1rem;
  font-size: 8vw;
}

@media (min-width: 500px) {
  .temp__data p {
    font-size: 2.8rem;
  }
}
