@font-face {
  font-family: "Myanmar Text Regular";
  src: url("./assests/font/mmrtext.ttf");
}

@font-face {
  font-family: "Myanmar Text Bold";
  src: url("./assests/font/mmrtextb.ttf");
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  font-family: "Myanmar Text Bold";
  font-weight: bold;
  box-sizing: border-box;
  cursor: default;
  /* overflow-x: hidden; */
}

body {
  margin: 0 auto;
  padding: 0;
  /* overflow-x: hidden; */
  max-width: 500px;
}

#root {
  height: 100vh;
  width: 100vw;
  max-width: 500px;
}

.data {
  height: 100%;
  width: 100vw;
  max-width: 500px;
}

/* CLASES DE LAS TEMPS MAX MIN */

.temp {
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* margin: 0 3rem; */
  transform: translate(-50%, -50%);
  position: absolute;
  left: 50%;
  top: 51%;
}

.temp__data {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0rem 4vw;
}

@media (min-width: 500px) {
  .temp__data p {
    font-size: 2.8rem;
    margin: 0rem 3rem;
  }
}

.temp__data p {
  margin: 0;
  margin-left: 0.5rem;
  padding-top: 1rem;
  font-size: 8vw;
}

@media (min-width: 500px) {
  .temp__data p {
    font-size: 2.8rem;
  }
}
